html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    background-color: #263238;
}

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #546E7A;
    transition: box-shadow 0.25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/**
 * Main components
 */
.roster,
.backlog {
    position: fixed;
    top: 0;
    width: 18rem;
    height: 100vh;
    max-height: 100vh;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.deck {
    display: block;
    padding: 1rem;
    margin: 0 19rem;
}

.roster {
    left: 0;
}

.backlog {
    right: 0;
}

/**
 * Player
 */
.player {
    display: block;
    color: #ECEFF1;
}

.player .player-icon {
    width: 2rem;
    height: auto;
    margin: 1rem;
    border-radius: 50%;
    vertical-align: middle;
}

.player .player-nick {
}

/**
 * Card
 */
.deck {
    display: block;
    text-align: center;
}

.playing-card {
    display: inline-block;
    width: 10rem;
    height: 15rem;
    margin: 0.25rem;
}

.playing-card.witch {
    background: #fff url('https://o6rr5e4by.qnssl.com/wp-content/uploads/2016/07/witch-old.png') no-repeat center;
    background-size: 100%;
}

.playing-card.guitar {
    background: #fff url('https://secure.meetupstatic.com/photos/event/a/0/2/global_268082562.jpeg') no-repeat center;
    background-size: 100%;
}

.playing-card.ref {
    background: #fff url('https://golang.org/doc/gopher/ref.png') no-repeat center;
    background-size: 100%;
}

.playing-card.run {
    background: #fff url('https://golang.org/doc/gopher/pencil/gopherrunning.jpg') no-repeat center;
    background-size: 100%;
}

.playing-card.swim {
    background: #fff url('https://golang.org/doc/gopher/pencil/gopherswim.jpg') no-repeat center;
    background-size: 100%;
}

.playing-card.mega {
    background: #fff url('https://golang.org/doc/gopher/pencil/gophermega.jpg') no-repeat center;
    background-size: 100%;
}

.playing-card.coffee {
    background: #fff url('https://s-media-cache-ak0.pinimg.com/236x/90/a5/d2/90a5d2a916f49ccc2f44798122c5d178.jpg') no-repeat center;
    background-size: 100%;
}

.playing-card .playing-card-value {
    position: absolute;
    margin: 0.25rem;
    padding: 1rem;
    font-weight: bolder;
}

.playing-card .playing-card-value.bottom {
    bottom: 0;
    left: 0;
}

.playing-card .playing-card-value.top {
    top: 0;
    right: 0;
}

/**
 * Story
 */
.story {
    display: block;
    padding: 1rem;
    color: #ECEFF1;
}

.story .story-score {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    font-size: x-large;
}

.story .story-title {
    font-size: larger;
    display: block;
}

.story .story-link {
    font-size: smaller;
    display: block;
}

.story .story-link a,
.story .story-link a:hover,
.story .story-link a:visited {
    text-decoration: none;
    color: #B0BEC5;
}

.story .story-description {
    display: block;
    margin-top: 1rem;
}

/**
 * Tablets
 */
@media only screen and (max-width: 1000px) {
    html {
        line-height: 1.3;
    }

    .deck {
        display: block;
        padding: 1rem;
        margin: 0 19rem 0 0;
    }

    .roster {
        right: 0;
        bottom: 0;
        left: initial;
        top: initial;
        height: initial;
        min-height: 0;
        max-height: 20vh;
    }

    .backlog {
        height: 80vh;
        max-height: 80vh;
    }
}

/**
 * Mobile
 */
@media only screen and (max-width: 850px) {
    html {
        line-height: 1;
    }

    .deck,
    .roster,
    .backlog {
        position: static;
        display: block;
        float: left;
    }

    .deck {
        float: left;
        padding: 1rem;
        margin: 0 1rem;
        width: 80%;
        height: 50vh;
        min-height: 50vh;
        max-height: 50vh;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .roster,
    .backlog {
        width: 90%;
    }

    .backlog {
        height: 6rem;
        min-height: 6rem;
        max-height: 6rem;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .story {
        display: inline-block;
        width: 90%;
        margin-right: 1rem;
    }

    .roster {
        height: initial;
        min-height: initial;
        max-height: initial;
    }
}
